{% extends "./web/views/layouts/main.html" %}
{% block content %}
<template x-if="collectionStats != null">
    <span  x-text="collectionStats.size"></span> 

</template>

    
 
 

<script type="text/javascript">

    function mongomanagement(){
        return{
            server:"",
            port:"",
            db:"",
            collectionSize:null,
            collectionStats:null,
            collectionNames :[],
            isLoading:false,
            fetchCollectionNames(){
                this.isLoading = true;
                fetch("/collection/list/" + this.server + "/" + this.port + "/" + this.db)
                .then((res)=>res.json())
                .then((data) => {
                    this.isLoading = false;
                    this.collectionNames = data;
                });
            },
            getStats(coll){
                fetch("/collection/stats/" + coll)
                .then((res) => res.json())
                .then((data) =>{
                    this.isLoading = false;
                    this.collectionStats = data;
                });
            },
      };
        }
    
</script>
{% endblock %}
